body{
    margin:0;
    font-family: 'Baloo 2', cursive;
}

/* SECCION MENU-CABECERA*/
header .contenedor{
 display: flex;
 justify-content: space-between;
}

header ul{
    display:flex;
    font-size: 24px;
}

header ul li{
    list-style:none;
    margin-right: 15px;
}

a{
    text-decoration:none;
}

.contenedor{
    max-width: 1280px;
    width: 90%;
    margin: auto;
}

header{
    background: linear-gradient(90deg,rgba(107, 16, 107, 0.7), rgba(84, 48, 243, 0.5)), url(../imagenes/fondo.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;        
}

#contenedor-titulo-flex{
    display: flex;
    justify-content: center;
    margin: 18vh 0;
    max-width: 1580px;
    width: 100%;
}

h1{
    font-size: 60px;
    color: #fff;
    margin:0;
    text-transform: uppercase;
    position: relative;
}

h2{
    font-size: 25px;
    color: #fff;
    text-align: center;
}

.contenedor-titulo{
    text-align: center;
}

.contenedor-titulo a , #sobre-mi a, #contacto input[type="submit"] {
    font-size: 14px;
    color: #fff;
    background: #5cb8ff;
    padding: 14px 24px;
    display: inline-block;
    text-decoration: none;
    border-radius: 25px;
}

p.logo {
    color:#fff;
    font-size: 24px;
}

nav ul li a{
    color: #fff;
}

/* SECCION SOBRE MI*/
h3 {
    text-align: center;
    font-size: 55px;
    font-weight: normal;
}
#sobre-mi{
    padding-bottom: 30px;
}
#sobre-mi .contenedor-sobremi{
    display: flex;
    justify-content: space-around;
}

#sobre-mi .texto{
    width: 42%;
}

/*SECCION SKILLS*/
#skills{
    background: rgb(249, 250, 252);
    height: 90vh;
}

.imagenes-skills{
    position: relative;
    display: flex;
    justify-content: space-around;
    width: 90%;
}
.img-html5, .img-bootstrap{
    width: 120px;

}
.img-js , .img-css3, .img-php, .img-git{
    width: 120px;
    height: 120px;
}

.img-wp{
    width: 130px;
    height: 120px;
}
.img-html5,.img-css3,.img-php, .img-git{
    position: absolute;
    top: 90px;
   
}
.img-js, .img-bootstrap, .img-wp{
    position: absolute;
    top: 0px;
}
.imagenes-skills div img{
    border-radius: 50%;
    border: 4px solid rgb(149, 228, 89, 0.8); 
    box-shadow: 1px 15px 12px #666; 
}

.imagenes-skills div img:hover{
border-radius:50%;
box-shadow: 0px 0px 10px 10px  rgba(149, 228, 89, 0.8);
transform:scale(1.3);
box-shadow: 1px 15px 12px #666; 
}

/*SECCION MIS TRABAJOS*/

button.owl-prev, button.owl-next {
    font-size: 50px !important;
}

span{
    color:rgba(82, 85, 214, 0.8);
}

.item{
    text-align: center;
    
}
.enlace-trabajos{
    font-size: 20px;
    color: black;
}

/* SECCION CONTACTO*/
#contacto{
    background: rgb(249, 250, 252);
}

#contacto form{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 77%;margin: auto;
    
}

input[type="text"],input[type="email"]{
    width: 49%;
    margin-bottom: 15px;
    padding: 18px 0;
    border: 0;
    border-bottom: 1px solid #5cb8ff;
    font-size: 17px;
    background: rgb(249, 250, 252);
}

textarea {
    padding: 18px 0;
    border: 0;
    border-bottom: 1px solid #5cb8ff;
    font-size: 17px;
    margin-bottom: 40px;
    width: 100%;
    background: rgb(249, 250, 252);
}
#contacto input[type="submit"]{
    margin: auto;
    border-radius: unset;
}

.contacto-info{
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
    padding-bottom: 40px;
}

.contacto-info img{
    width: 30px;
    vertical-align: middle;
    margin-right: 10px;
}

footer {
    background: rgb(128, 85, 144);
    padding: 40px 0;
    text-align: center;
}

footer .contenedor{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

footer img{
    width: 45px;
    margin: 0 40px;
    transform:rotate(0);
    transition: 0.6s;
}

footer img:hover{
    transform: rotate(360deg);
    transition: 0.6s;
}

footer p{
    color: #fff;
    margin-top: 40px;
    font-size: 20px;
}


#whatsapp{
    position: fixed;
    top: 80%;
    right: 3%;
}

#whatsapp img{
    width: 80px;
}


html{
    scroll-behavior: smooth;
}

#mis-trabajos, #sobre-mi,#skills, #contacto{
    padding: 40px 0;
}

