body{
    margin:0;
    font-family: 'Baloo 2', cursive;
}

/* SECCION MENU-CABECERA*/
header .contenedor{
 display: flex;
 justify-content: space-between;
}

header ul{
    display:flex;
}

header ul li{
    list-style:none;
    margin-right: 15px;
}

a{
    text-decoration:none;
}

.contenedor{
    max-width: 1280px;
    width: 90%;
    margin: auto;
    padding-top: 30px;
}

header{
    background: linear-gradient(90deg,rgba(149, 228, 89, 0.8), rgba(82, 85, 214, 0.8)), url(../imagenes/fondo.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;        
}

#contenedor-titulo-flex{
    display: flex;
    justify-content: center;
    margin: 18vh 0;
    max-width: 1580px;
    width: 100%;
}

h1{
    font-size: 60px;
    color: #fff;
    margin:0;
}

h2{
    font-size: 25px;
    color: #fff;
    text-align: center;
}
.contenedor-titulo{
    text-align: center;
}

.contenedor-titulo a , #sobre-mi a {
    font-size: 14px;
    color: #fff;
    background: #5cb8ff;
    padding: 14px 24px;
    display: inline-block;
    text-decoration: none;
    border-radius: 25px;
}

p.logo {
    color:#fff;
    font-size: 20px;
}

nav ul li a{
    color: #fff;
}

/* SECCION SOBRE MI*/
h3 {
    text-align: center;
    font-size: 55px;
    font-weight: normal;
    padding: 70px 0;
}

#sobre-mi .contenedor-sobremi{
    display: flex;
    justify-content: space-around;
}

#sobre-mi .texto{
    width: 42%;
}

